__pycache__/
venv/
venv/
.idea/
.pytest_cache/
*.pyc
*.pkl
*.pickle
*.pdf
trianing/
DATA/
REPORT/
models/
racism_results/
font/
logs/
docs/
results/
training/
related_papers/
bangla_snt/
bangla_snt_indic/
bangla_transformer/
bangla_transformer_100/
bangla_transformer_all_data/
test.py
test_training.py
test_gpu.py
train.py